<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Music Player</title>
    <style>
    </style>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body class="p-3 mb-2 bg-primary lead">
    <div class="app">
      <!-- sidebars -->
      <div class="songs-list-container"></div>

      <!-- player -->
      <div class="player-container">
        <audio id="player" class="player" controls></audio>
      </div>


      <!-- UPLOAD SONG -->
      <form action="/songs" method="post" enctype="multipart/form-data">
        <input type="file" name="song">
        <input type="submit" value="Upload">
      </form>

      <!-- scripts -->
      <script src="/libs/jquery.min.js" charset="utf-8"></script>
      <script src="/js/app.bundle.js" charset="utf-8"></script>
    </div>
  </body>
</html>
